$color-black: #363636;
$color-blue-light: #819cf3;
$color-blue-dark: rgb(21, 66, 213);
$color-footer-background: #282c34;
$color-grey-medium: #777;
$color-grey-light: #ddd;
$color-yellow: #e5be23;
$color-white: #fff;

//font
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//shadows
$box-shadow-1: 0 1.5rem 4rem rgba($color-black, .15);