.section-about {
  padding-top: 10rem;
  padding-bottom: 20rem;
  background-color: $color-white;

  clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);

  &__title {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right bottom, $color-white, $color-blue-light);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
  }
}

@media only screen and (min-width: 490px){
  .section-about {

  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }
}

@media only screen and (min-width: 686px){
  .section-about {

  clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%);
  -webkit-clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%);
  }
}

@media only screen and (min-width: 752px){
  .section-about {

  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  }
}