.card {
  min-width: 30rem;

  //Functionality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;

  &__side {
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;

    &--front {
      background-color: $color-white;
    }

    &--back {
      background-color: orangered;
      transform: rotateY(-180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-white, $color-blue-light);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-white, $color-blue-light);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-white, $color-blue-light);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  // Front side styling
  &__picture {
    background-size: cover;
    height: 28rem;
    background-blend-mode: overlay;  
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(to right bottom, $color-grey-light, $color-blue-light), url(./images/Wonder_Walter_1.jpg);
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $color-grey-light, $color-blue-light),  url(./images/Wonder_Walter_3.jpg);
    }

    &--3 {
      background-image: linear-gradient(to right bottom, $color-grey-light, $color-blue-light),  url(./images/Wonder_Walter_5.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 65%;
  }

  &__heading-span{
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right bottom, 
      rgba($color-white, .85), 
      rgba($color-blue-light, .85));
    }
    
    &--2 {
      background-image: linear-gradient(to right bottom, 
      rgba($color-white, .85), 
      rgba($color-blue-light, .85));
    }
    
    &--3 {
      background-image: linear-gradient(to right bottom, 
      rgba($color-white, .85), 
      rgba($color-blue-light, .85));
    }

  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-medium;
        }
      }
    }
  }

    // Front side styling
    &__cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center;
    }

    &__price-box {
      text-align: center;
      margin-bottom: 8rem;
      color: $color-white;
    }

    &__price-only {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    &__price-value {
      font-size: 6rem;
      font-weight: 100;
    }
}