.footer {  
  text-align: center;
  justify-content: center;
  min-height: 90vh;
  background-image: linear-gradient(to right bottom, $color-white, $color-blue-light);
  background-size: cover;
  background-position: top;
  position: relative;
  margin-top:-19rem;

  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%); 
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .2;
  overflow: hidden;
  z-index: 0;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.email-form {
  z-index: 1;
  
  &__container {
    background-color: $color-blue-light;
    width: 25rem;
    text-align: center;
    margin: 0 auto;
  }

  &__input {
    border-radius: 3px;
    padding: .5rem;
    border: none;
    display:block;
    margin: 1rem auto 0;
  }
}

@media only screen and (min-width: 490px){
  .footer {

  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  }
}

@media only screen and (min-width: 686px){
  .footer {

  clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);
  }
}

@media only screen and (min-width: 752px){
  .footer {

  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
}