.footer {  
  text-align: center;
  justify-content: center;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, $color-white, $color-blue-light);
  background-size: cover;
  background-position: top;
  position: relative;
  margin-top:-19rem;
  z-index: 0;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .2;
  overflow: hidden;
  z-index: -1;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.email-form {
  
  &__container {
    background-color: $color-blue-light;
    width: 25rem;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
  }

  &__input {
    border-radius: 3px;
    padding: .5rem;
    border: none;
    display:block;
    margin: 1rem auto 0;
  }
}