.section-outreach {
  padding: 15rem 0 12rem;
  margin-top: -12rem;
  background-color: $color-white;
  min-height: 90vh;

  clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);

}

@media only screen and (min-width: 490px){
  .card__side {
    box-shadow: $box-shadow-1;
  }
  .section-outreach {

  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }
}

@media only screen and (min-width: 686px){
  .section-outreach {

  clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%);
  -webkit-clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%);
  }
}

@media only screen and (min-width: 752px){
  .section-outreach {

  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  }
}