.section-performance {
  min-height: 90vh;
  position: relative;
  margin-top: -19rem;
  padding-top: 8rem;
  padding-bottom: 20rem;
  background-color: $color-blue-light;
  background-image: linear-gradient(to right bottom, rgba($color-white, 0.799), rgba($color-blue-light, 0.799)), url(../src/images/Wonder_Walter_4.jpg);

  &__title {
    margin-top: 8rem;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .2;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.talent {
  width: 90%;
  min-width: 200px;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  border-radius: 3px;
  font-size: $default-font-size;
  display: inline-block;

  &__image {
  width: 100%;
  }

  &__link {
    text-decoration: none;
  }

  &__caption {
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    transition: all .5s;
    backface-visibility: hidden;
  }
}

.talent:hover {
  border-radius: .2rem;
  box-shadow: 0 .3rem .5rem 0 rgba($color-black,0.24), 0 .5rem 2rem 0 rgba($color-black,0.19);
  -moz-box-shadow: 0 .3rem .5rem 0 rgba($color-black,0.24), 0 .5rem 2rem 0 rgba($color-black,0.19);
  -webkit-box-shadow: 0 .3rem .5rem 0 rgba($color-black,0.24), 0 .5rem 2rem 0 rgba($color-black,0.19);
}

@media only screen and (min-width: 490px){
  .talent {
    width: 50%;
    padding: 2rem;
  }
}

@media only screen and (min-width: 686px){
 
}

@media only screen and (min-width: 1100px){
  .talent {
    width: 33%;
  }
}