@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  80% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-20rem); }
  80% {
    transform: translateY(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.app {
  width: 90vw;
  margin: 0 auto;
  background-attachment: fixed;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.799), rgba(129, 156, 243, 0.799)), url(../src/images/Wonder_Walter_4.jpg);
  background-size: cover;
  background-position: top; }

body {
  box-sizing: border-box;
  min-height: 25vh; }

html {
  padding: 1rem; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.footer--text {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 3rem;
  color: #fff;
  margin: 0 auto;
  font-size-adjust: 90%;
  text-shadow: 1px 1px 1px rgba(54, 54, 54, 0.5); }
  .footer--text-link {
    text-decoration: none;
    color: #fff; }
    .footer--text-link:hover {
      transform: scale(1.3); }

html {
  font-size: 62.5%; }

.header__title {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(54, 54, 54, 0.5);
  backface-visibility: hidden; }
  .header__title-left {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: .5rem;
    width: 100%;
    animation: moveInDown 2s ease-out; }
  .header__title-right {
    display: inline-block;
    font-size: 2.7rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: .5rem;
    width: 100%;
    animation: moveInUp 2s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 4rem;
  display: inline-block;
  background-image: linear-gradient(to right, #819cf3, #1542d5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  text-shadow: 1px 1px 1px rgba(54, 54, 54, 0.5); }
  .heading-secondary:hover {
    transform: skewY(10deg) skewX(7deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(54, 54, 54, 0.2); }

label {
  display: block;
  justify-self: center; }

.paragraph {
  font-size: 1.6rem;
  max-width: 100rem;
  margin: 0 auto; }
  .paragraph:not(last-child) {
    margin-bottom: 3rem; }

.outreach__title {
  margin: 5rem auto 0rem;
  padding: 5rem 2rem 0rem; }

.performance__title {
  margin: 5rem auto 0rem;
  padding: 5rem 2rem 0rem; }

.about__title {
  margin: 5rem auto 0rem;
  padding: 5rem 2rem 0rem; }

.about__copy {
  padding: 2rem; }

.title-box {
  overflow: hidden; }

@media only screen and (min-width: 900px) {
  html {
    padding: 3rem; }
  .header__text-box {
    top: 50%; }
  .header__title-left {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: .5rem;
    width: 50%;
    text-align: right;
    animation: moveInRight 2s ease-out; }
  .header__title-right {
    display: inline-block;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4rem;
    letter-spacing: 1.5rem;
    width: 50%;
    text-align: left;
    animation: moveInLeft 3s ease-out; } }

@media only screen and (min-width: 1200px) {
  .header__title-left {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4rem;
    letter-spacing: .5rem;
    width: 50%;
    animation: moveInRight 2s ease-out; }
  .header__title-right {
    display: inline-block;
    font-size: 5rem;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: 1.5rem;
    width: 50%;
    animation: moveInLeft 3s ease-out; } }

.section-about {
  padding-top: 8rem;
  background-color: #fff;
  clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%); }
  .section-about__title {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right bottom, #fff, #819cf3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem; }

.with-form {
  padding-bottom: 20rem; }

@media only screen and (min-width: 490px) {
  .section-about {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); } }

@media only screen and (min-width: 686px) {
  .section-about {
    clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%);
    -webkit-clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%); } }

@media only screen and (min-width: 752px) {
  .section-about {
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%); } }

.card {
  min-width: 25rem;
  min-height: 25rem;
  padding: 2rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card__desc {
    padding: 2rem; }
  .card__side {
    height: 25rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-color: orangered;
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #fff, #819cf3); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #fff, #819cf3); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #fff, #819cf3); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: overlay;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ddd, #819cf3), url(./images/Wonder_Walter_1.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #ddd, #819cf3), url(./images/Wonder_Walter_3.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #ddd, #819cf3), url(./images/Wonder_Walter_5.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 65%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(129, 156, 243, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(129, 156, 243, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(129, 156, 243, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #777; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.card-box {
  padding: 2rem;
  display: inline-block;
  margin: 2rem auto 2rem; }

@media only screen and (min-width: 790px) {
  .card-box {
    width: 35rem; } }

.footer {
  text-align: center;
  height: 80vh;
  border-radius: 3px;
  background-image: linear-gradient(to right bottom, #fff, #819cf3);
  background-size: cover;
  background-position: top;
  position: relative;
  margin-top: -19rem;
  z-index: 0;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .2;
  overflow: hidden;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.email-form__container {
  background-color: #819cf3;
  width: 25rem;
  text-align: center;
  margin: 0 auto;
  z-index: 1; }

.email-form__input {
  border-radius: 3px;
  padding: .5rem;
  border: none;
  display: block;
  margin: 1rem auto 0; }

.header {
  text-align: center;
  height: 80vh;
  border-radius: 3px;
  background-color: transparent;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .header__logo {
    height: 5rem;
    text-shadow: 1px 1px 1px rgba(54, 54, 54, 0.5); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__text-box {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-outreach {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #fff;
  clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%); }

@media only screen and (min-width: 490px) {
  .card__side {
    box-shadow: 0 1.5rem 4rem rgba(54, 54, 54, 0.15); }
  .section-outreach {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); } }

@media only screen and (min-width: 686px) {
  .section-outreach {
    clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%);
    -webkit-clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%); } }

@media only screen and (min-width: 752px) {
  .section-outreach {
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%); } }

.section-performance__title {
  margin-top: 2rem; }

.talent {
  width: 90%;
  min-width: 200px;
  margin: 2rem auto;
  border-radius: 3px;
  font-size: 1.6rem;
  display: inline-block;
  z-index: 1; }
  .talent__image {
    width: 100%;
    height: 100%; }
  .talent__link {
    text-decoration: none; }
  .talent__caption {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    transition: all .5s;
    backface-visibility: hidden; }

.talent:hover {
  border-radius: .2rem;
  box-shadow: 0 0.3rem 0.5rem 0 rgba(54, 54, 54, 0.24), 0 0.5rem 2rem 0 rgba(54, 54, 54, 0.19);
  -moz-box-shadow: 0 0.3rem 0.5rem 0 rgba(54, 54, 54, 0.24), 0 0.5rem 2rem 0 rgba(54, 54, 54, 0.19);
  -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(54, 54, 54, 0.24), 0 0.5rem 2rem 0 rgba(54, 54, 54, 0.19); }

@media only screen and (min-width: 490px) {
  .talent {
    width: 50%;
    padding: 2rem; } }

@media only screen and (min-width: 1100px) {
  .talent {
    width: 33%; } }

.row {
  max-width: 114rem;
  margin: 0 auto;
  background-color: transparent;
  overflow: hidden; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    min-width: 30rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem * 2)) / 3);
    min-width: 20rem; }
  .row .col-2-of-3 {
    width: calc(100% - 6rem - (100% - (6rem * 2)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem * 3)) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-of-4 {
    width: calc((100% - 6rem - (100% - (6rem * 3)) / 4)); }
